/* Import web font Fira Sans */
@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Use imported font */
.title .toggle-switch-label {
    font-family: 'Fira Sans', sans-serif;
}

/* Center toggle switch button */
.toggle-switch-container {
    text-align: center;
}
.toggle-switch {
    margin: auto;
}

/* Flex container for logo + title at top of popup */
.flex-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: -20px;
}
.logo-left {
    padding-right: 10px;
}
.title-right {
    color: rgb(33, 33, 33);
    text-align: right;
    font-style: italic;
}

/* Footer */
footer {
    margin-top: 30px;
    margin-bottom: -5px;
}
.footer-text {
    text-align: center;
    font-size: 11px;
    color: rgb(55, 55, 55);
}
.footer-link {
    color: #0088cc;
    text-decoration: none;
}
.footer-heart {
    color: red;
    text-decoration: none;
}