/* Import  web font Koln Messe-Deutz (https://www.urbanfonts.com/fonts/Koln_Messe-Deutz.font) */
@font-face {
    font-family: 'Koln Messe-Deutz';
    src: url('fonts/KolnMesseDeutz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Center toggle switch button */
.toggle-switch-container {
    text-align: center;
}
.toggle-switch {
    margin: auto;
}

/* Flex container for logo + title at top of popup */
.flex-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: -20px;
}
.logo-left {
    padding-right: 10px;
}
.title-right {
    color: rgb(33, 33, 33);
    text-align: right;
    font-weight: 700;
    font-size: 17px;
    line-height: 0.9;
    letter-spacing: 0.13em;
    font-family: 'Koln Messe-Deutz', sans-serif;
}

/* Footer */
footer {
    margin-top: 25px;
    margin-bottom: -5px;
}
.footer-text {
    font-family: 'Koln Messe-Deutz', sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em;
    letter-spacing: 0.025em;
    color: rgb(55, 55, 55);
}
.footer-link {
    color: #0088cc;
    text-decoration: none;
}
.footer-heart {
    color: red;
    text-decoration: none;
}
.buy-me-a-coffee-button {
    /* Correct size for button */
    width: 135px !important;
    /* Center button */
    display: block;
    margin-left: auto;
    margin-right: auto;
}